[Unit]
Description=K Display Manager
After=systemd-user-sessions.service prometheus-quit.service

[Service]
ExecStart=/usr/bin/kdm -nodaemon

[Install]
Alias=display-manager.service
